/vendor/
/node_modules/
/public/hot
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
.env
.env.*
!.env.example
.phpunit.result.cache
.phpunit.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
.DS_Store
.idea/
.vscode/
.phpstorm.meta.php
.php_cs.cache
.php-cs-fixer.cache
/bootstrap/cache/*
!/bootstrap/cache/.gitignore